/* Richard Davies, Data Science for Economists */

/* This is my second CSS file */


/* Import a font */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');


/* Set the background color for my page: */

/* Book on colour = Joseph Albers - Interaction of Colour */

body{
    background-color: rgb(236, 203, 232);
 }


/* Choose the appearance of the tags, h1, h3 and p: */
h1, h3, p{
    color:rgb(0, 0, 0);
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

p2{
    color:rgb(0, 0, 0);
    font-family: 'Roboto', sans-serif;
    text-align: left;
    size: 12
}
    
.myWeek1{
    margin: auto;
    max-width: 600px;
    background-color: rgb(172, 220, 243);

      
    border-width: 10px;
    border-style: solid;
    border-radius: 10px;
    border-color: rgb(244, 205, 182);
}


/* Set the apperance of the class, chart */
.chart{
    background-color: rgb(187, 221, 193);
    width:400px;
    border-width: 10px;
    border-style: solid;
    border-radius: 10px;
    border-color: rgb(244, 205, 182);
    
}
    

